#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
}


#btnContainer{
    text-align: center;

}

.buttons{
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: blue;
    border-radius: 5px ;
    transition: background-color 0.3s;
}

.buttons:hover{
    background-color: darkblue;
}